<ion-content padding>
  <div id="player">
    <div class="songInfo">
      <img src="assets/covers/Knights_of_Cydonia_2.jpg" alt="">
      <div class="songTitle">
        <div class="title">{{obj.song.title}}</div>
        <div class="artistAlbum">{{obj.song.artist}} - {{obj.song.album}}</div>
      </div>
    </div>
    <audio src="assets/audio/Muse-Knights of Cydonia.mp3" preload></audio>
    <div class="controls">
      <ion-icon name="skip-backward" (click)="backward()"></ion-icon>
      <ion-icon [name]="playing ? 'pause' :'play'" class="play-pause" (click)="playpause($event)"></ion-icon>
      <ion-icon name="skip-forward" (click)="forward()"></ion-icon>
    </div>
  </div>
  <!--div [innerHTML]="player.domElement"></div-->
  <div id="playlist">
    <span class="fancyTitle">Up Next</span>
    <div class="list" *ngFor="let obj of playlist">
      <div class="element" (click)="playSong(obj.song)">
        <div class="cover">
          <img src="{{config.service_location+obj.song.cover}}" alt="">
        </div>
        <div>{{obj.song.title}} - {{obj.song.artist}}</div>
      </div>
    </div>
  </div>
</ion-content>
