<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>
      Songs
    </ion-list-header>
    <ion-item-sliding *ngFor="let obj of songs">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{config.service_location+obj.cover}}" alt="">
        </ion-avatar>
        <h2>{{obj.title}}</h2>
        <p>{{obj.artist}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" (click)="addSong(obj)">
          <ion-icon name="ios-add"></ion-icon>
          Agregar
        </button>
      </ion-item-options>  

    </ion-item-sliding>
  </ion-list>
</ion-content>