<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Unete a la fiesta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <input [(ngModel)]="name" type="text" placeholder="Nombre">
    </ion-item>
  </ion-list>
  <button ion-button color="light" outline icon-left (click)="party()">
      <ion-icon name="logo-freebsd-devil"></ion-icon>
      Unirse a la fiesta
    </button>
</ion-content>