<ion-header>
  <ion-navbar>
    <ion-title>
      Party Playlist
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>
      Songs
    </ion-list-header>
    <ion-item-sliding *ngFor="let obj of playlist">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{config.service_location+obj.song.cover}}" alt="">
        </ion-avatar>
        <h2>{{obj.song.title}}</h2>
        <p>{{obj.song.artist}}</p>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="removeSong(obj.song)">
          <ion-icon name="ios-close"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
  